body{
	background-image: url("image/bg.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size:cover;
	display: flex;
    min-height: 100%;
    flex-direction: column;	
}

.dropdown-content a{
	font-family: berlin sans fb;
	font-size: 20px;
}

.navbar .nav-wrapper{
	background-color: #224070;
}

.nav-wrapper ul a {
	font-family: berlin sans fb;
	padding-left: 30px;
	padding-right: 25px;
	font-size: 15px;
}

.register-form-container {
    max-width: 600px;
    width: 100%;
    z-index: 1;
    margin: 20px auto;
	background: rgba(0, 0, 0, 0.5);
	padding: 20px;
	box-shadow: 0px 0px 25px 10px black;
	border-radius: 10px;
}

.register-form-header {
    text-align: center;
	color: white;
	font-size: 10px;
}

.register-form .input-container {
    margin-top: 10px;
    font-size: 20px;
    color: white;
	padding-bottom: 5px;
}
.register-form .input {
	border: 0;
	width: 600px;
}

.register-form .button {
	margin-top: 15px;
    width: 100%;
    background: #2e7ec7;
    border: 0;
    color: white;
    padding: 10px;
    font-size: 15px;
	cursor: pointer;
	transition: background .3s;
}
.register-form .button:hover {
	background: #252020;
}
.register-form .button:focus {
	outline: none;
}

.back .btn {
    color: white;
    display: block;
    margin-top: 5px;
    text-align: center;
	background:#2e7ec7;
	text-decoration: none;
}

.back .btn:hover {
	background: #252020;
}


.separator {
    margin: 20px 0;
    border-top: 1px solid #CCCCCC;
    position: relative;
}

.separator-text {
    display: block;
    position: absolute;
    top: -11px;
    left: 50%;
    margin-left: -22px;
    padding: 0px 10px;
    background: white;
    color: black;
}

.sosmed-register .sosmed-btn-google-btn {
    padding: 10px;
    color: white;
    display: block;
    margin-top: 5px;
    text-align: center;
	background:#00AA4B;
	text-decoration: none;
}

.sosmed-register .sosmed-btn-facebook-btn {
    padding: 10px 25px;
    color: white;
    display: block;
    margin-top: 5px;
    text-align: center;
	background:#0037C1;
	text-decoration: none;
}

.sosmed-register .sosmed-btn-twitter-btn {
    padding: 10px 25px;
    color: white;
    display: block;
    margin-top: 5px;
    text-align: center;
	background:#2AA9E0;
	text-decoration: none;
}

.sosmed-register .sosmed-btn-github-btn {
    padding: 10px 25px;
    color: white;
    display: block;
    margin-top: 5px;
    text-align: center;
	background:#24292E;
	text-decoration: none;
}

.sosmed-register .sosmed-btn-linkedin-btn {
    padding: 10px 25px;
    color: white;
    display: block;
    margin-top: 5px;
    text-align: center;
	background:#0073B0;
	text-decoration: none;
}

.sosmed-register .sosmed-btn-google-btn:hover {
	background: #252020;
}

.sosmed-register .sosmed-btn-facebook-btn:hover {
	background: #252020;
}

.sosmed-register .sosmed-btn-twitter-btn:hover {
	background: #252020;
}

.sosmed-register .sosmed-btn-github-btn:hover {
	background: #252020;
}

.sosmed-register .sosmed-btn-linkedin-btn:hover {
	background: #252020;
}

footer {
	background: #224070;
}

footer .row{
	background-color: #224070;
	font-family: berlin sans fb;
	margin-left:10px;
}

.page-footer .footer-adress{
	background-color: #224070;
	font-family: berlin sans fb;
}
 .footer-adress{
	margin-right:30px;		
}
