body{
	background-image: url("image/bg.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size:cover;
	display: flex;
    min-height: 100%;
    flex-direction: column;	
}

.dropdown-content a{
	font-family: berlin sans fb;
	font-size: 20px;
}

.navbar .nav-wrapper{
	background-color: #224070;
}

.nav-wrapper ul a {
	font-family: berlin sans fb;
	padding-left: 30px;
	padding-right: 25px;
	font-size: 15px;
}

.login-form-container {
    max-width: 400px;
    width: 100%;
    z-index: 1;
    margin: 20px auto;
	background: rgba(0, 0, 0, 0.5);
	padding: 20px;
	box-shadow: 0px 0px 25px 10px black;
	border-radius: 10px;
}

.login-form-header {
    text-align: center;
	color: white;
	font-size: 30px;
}

.login-form .input-container {
    margin-top: 10px;
    font-size: 20px;
    color: white;
	padding-bottom: 5px;
}
.login-form .input {
	border: 0;
	width: 400px;
}

.login-form .forgot-password {
	float: right;
	color: white;
}
.login-form .rememberme-container {
	margin-top: 15px;
	padding: 0;
	color: white;
}
.login-form .rememberme-container input {
	margin-left: 0;
}
.login-form .rememberme span {
	vertical-align: top;
}
.login-form .button {
	margin-top: 15px;
    width: 100%;
    background: #2e7ec7;
    border: 0;
    color: white;
    padding: 10px;
    font-size: 15px;
	cursor: pointer;
	transition: background .3s;
}
.login-form .button:hover {
	background: #252020;
}
.login-form .button:focus {
	outline: none;
}

.login-form .loginas {
	margin-top: 5px;
    width: 100%;
    background: #2e7ec7;
    border: 0;
    color: white;
    padding: 10px;
    font-size: 15px;
	cursor: pointer;
	transition: background .3s;
	text-align: center;
}
.login-form .loginas:hover {
	background: #252020;
}
.login-form .loginas:focus {
	outline: none;
}

.login-form .back {
	margin-top: 5px;
    background: #252020;
    border: 0;
    color: white;
    padding: 8px;
    font-size: 15px;
    display: block;
    text-align: center;
}

.login-form .register {
	margin-top: 5px;
    background: #6E0606;
    border: 0;
    color: white;
    padding: 8px;
    font-size: 15px;
    display: block;
    text-align: center;
}
.login-form .register:hover	{
	background: #252020;
}

footer {
	background: #224070;
}

footer .row{
	background-color: #224070;
	font-family: berlin sans fb;
	margin-left:10px;
}

.page-footer .footer-adress{
	background-color: #224070;
	font-family: berlin sans fb;
}
 .footer-adress{
	margin-right:30px;		
}

