body {
	background-image: url("image/bg.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size:cover;
	min-height: 100%;
    flex-direction: column;	
}

main{
	display:flex;
}

table.responsive-table{
	margin-left:140px;
	margin-right:100px;
}

.dropdown-content a{
	font-family: berlin sans fb;
	font-size: 20px;
}

.navbar .nav-wrapper{
	background-color: #224070;
}

.nav-wrapper ul a {
	font-family: berlin sans fb;
	padding-left: 30px;
	padding-right: 25px;
	font-size: 15px;
}

.row .col .collection a{
	background: rgba(0,0,0,0.5);
}	

.row .col .collapsible a{
	background: rgba(0,0,0,0.5);
	height:43px;
}	

.container h1{
	font-family: berlin sans fb;
	
}

.row h3{
	background: rgba(0,0,0,0.5);
	padding-bottom:5px;
	font-family: berlin sans fb;
	width:50%;

}

.row a.btn-large{
	background: rgba(0,0,0,0.5);
	font-family: mistral;
	font-size:30px;
	margin:0px;
}

footer {
	background: #224070;
	margin-bottom:0px;
	display: flex;
}

footer .row{
	background-color: #224070;
	font-family: berlin sans fb;
	margin-left:10px;
}

.page-footer .footer-adress{
	background-color: #224070;
	font-family: berlin sans fb;
}
 .footer-adress{
	margin-right:30px;		
}

main footer{
	margin-left:300px;
	display:block;
}

@media screen and (max-width: 1000px) {
	main footer{
		margin:0;
		width:100%;
	}
	
	table.responsive-table{
		margin-left:0px;
		margin-right:0px;
	}
}

